<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">

<div class="container">
    <div class="page-header">
    </div>
    <ul class="timeline">
        <li>
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-briefcase"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Infosys</h4>
                    <hr>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <p>Tech Lead</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-briefcase"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Oakland Consulting</h4>
                    <hr>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <p>Sr. Web Developer</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-briefcase"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Rangle.io</h4>
                    <hr>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <p>Web Developer</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-briefcase"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">The Baer Group</h4>
                    <hr>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <p>Web Developer</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-briefcase"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Oakland Consulting</h4>
                    <hr>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <p>Web Developer</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-briefcase"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">VETS Federal</h4>
                    <hr>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <p>MEAN Stack Developer</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-briefcase"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Freelance Development</h4>
                    <hr>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <p>Web Developer</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-briefcase"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">MSDS Online</h4>
                    <hr>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <p>Account Executive</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-briefcase"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Illinois EPA</h4>
                    <hr>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <p>Junior Worker</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fas fa-graduation-cap"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Indiana University</h4>
                    <hr>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <p>Bachelor's of Arts</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fas fa-graduation-cap"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Buffalo Grove High School</h4>
                    <hr>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                </div>
                <div class="timeline-body">
                    <p>High School Diploma</p>
                </div>
            </div>
        </li>
    </ul>
</div>