@import '../../../assets/css/responsive.mixins.scss';

:host {
    margin-top: 50px;
    
    .skill-cards-container {
        display: flex;
        justify-content: center;
        @include for-tablet-portrait-up {
            padding-left: 64px;
            padding-right: 64px;
            padding-bottom: 50px;
        }
    }
}