@import '../../../assets/css/responsive.mixins.scss';

:host {
    position: relative;

    @include for-tablet-portrait-up  {
        top: 75px;
    }

    .project-cards-container {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }
}