@import '../../assets/css/responsive.mixins.scss';

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: black;
    color: white;
    font-weight: 600;
    z-index: 2;

    .tab-option {
      width: calc(100vw/6);
      height: 100%;
      display: flex !important;
      align-items: center;
      justify-content: center;
      text-align: center;
      align-items: center;
      text-decoration: none;
      color: lightgray;

      &:hover {
        cursor: pointer;
        background-color: #152238;
      }
    }

    @include for-tablet-portrait-up {
      opacity: .7;
  }
  }

  .toolbar img {
    margin: 0 16px;
  }