<div class="toolbar" role="banner">
    <a class="tab-option" href="#main">
        <div>Intro</div>
    </a>
    <a class="tab-option" href="#technical-experience">
        <div>Technical Experience</div>
    </a>
    <a class="tab-option" href="#core-skills">
        <div>Core Skills</div>
    </a>
    <a class="tab-option" href="#work-history">
        <div>Work History</div>
    </a>
    <a class="tab-option" href="#projects">
        <div>Projects</div>
    </a>
    <a class="tab-option" href="#contact-me">
        <div>Contact Me</div>
    </a>
</div>