@import '../../assets/css/global.mixins.scss';

:host {
    justify-content: start;
    background-image: url('../../assets/images/section/projects.jpg');
    background-size: cover;
    padding: 50px;
    @include section-background(center center);

    .section-title {
        font-size: 60px;
    }
}