@import '../../assets/css/global.mixins.scss';
@import '../../assets/css/responsive.mixins.scss';

:host {
    justify-content: start;
    background-image: url('../../assets/images/section/projects.jpg');
    background-size: cover;
    padding: 50px;
    @include section-background(center center);
    @include for-phone-only {
        padding: 25px;
    }

    .section-title {
        font-size: 50px;
        
        @include for-phone-only {
            font-size: 40px;
            color: white;
            text-shadow: 2px 1px 30px black;
        }
    }
}