@import '../../mixins.scss';

:host {
    color: #2a2a2a;
    display: flex;
    justify-content: center;
    background-image: url('../../assets/images/section/projects.jpg');
    background-size: cover;
    @include section-background(center center);
}