<video autoplay muted>
    <source src="../../assets/clips/mountain-climber.mov" type="video/mp4" />
</video>
<div class="main-heading">
    <h1 class="heading-text">A Journey</h1>
    <h1 class="heading-text">Across the Dev Landscape</h1>
    <h1 class="heading-text">Exploring New Technologies</h1>
    <h1 class="heading-text">Mastering the Fundamentals</h1>
    <h1 class="heading-text">One Step at a Time</h1>
    <h1 class="heading-text">Hello, World.</h1>
    <div class="arrow">
        <a class="fa fa-chevron-down fa-2x" href="#"></a>
    </div>
</div>