@import '../../mixins.scss';

:host {
    color: black;
    display: flex;
    justify-content: center;
    background-image: url('../../assets/images/section/contact-me.jpg');
    background-size: cover;
    @include section-background(center center);
}