@import '../../assets/css/global.mixins.scss';
@import '../../assets/css/responsive.mixins.scss';

:host {
    color: black;
    display: flex;
    justify-content: start;
    text-align: center;
    background-image: url('../../assets/images/section/contact-me.jpg');
    background-size: cover;
    @include section-background(center center);

    .section-title {
        font-size: 60px;
        top: 0;

        @include for-phone-only {
            font-size: 40px;
        }
    }
}