<div class="contact-carousel container">
    <div class="contact-option">
        <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=kunalojha12@gmail.com">
            <img src="../../assets/images/icons/gmail.png" />
        </a>
    </div>
    <div class="contact-option">
        <a target="_blank" href="https://www.linkedin.com/in/kunal-ojha">
            <img src="../../assets/images/icons/linkedin.png" />
        </a>
    </div>
    <div class="contact-option">
        <a target="_blank" href="https://twitter.com/CodeWithKunal">
            <img src="../../assets/images/icons/twitter.png" />
        </a>
    </div>
    <div class="contact-option">
        <a target="_blank" href="https://api.whatsapp.com/send?phone=3127520010">
            <img src="../../assets/images/icons/whatsapp.png" />
        </a>
    </div>
    <div class="contact-option">
        <a target="_blank" href="https://www.pinterest.com/kunalojha">
            <img src="../../assets/images/icons/pinterest.png" />
        </a>
    </div>
    <div class="contact-option">
        <a target="_blank" href="https://www.meetup.com/members/218957177/">
            <img src="../../assets/images/icons/meetup.png" />
        </a>
    </div>
    <div class="contact-option">
        <a target="_blank" href="https://kunalojha.slack.com">
            <img src="../../assets/images/icons/slack.png" />
        </a>
    </div>
    <div class="contact-option">
        <a target="_blank" href="https://secure.skype.com/portal/profile?live:c7a6a78bb08ad0ed">
            <img src="../../assets/images/icons/skype.png" />
        </a>
    </div>
    <div class="contact-option">
        <a target="_blank" href="https://github.com/KunalOjha">
            <img src="../../assets/images/icons/github.png" />
        </a>
    </div>
</div>