@import '../../mixins.scss';

:host {
    background-size: cover;
    background-image: url('../../assets/images/section/tech-experience.jpg');
    @include section-background(center center);

    .section-title {
        color: white;
        margin-top: 50px;
    }
}