@import '../../assets/css/global.mixins.scss';
@import '../../assets/css/responsive.mixins.scss';

:host {
    background-size: cover;
    background-image: url('../../assets/images/section/tech-experience.jpg');
    @include section-background(center center);
    @include for-phone-only {
        display: none;
    }

    .section-title {
        font-size: 50px;
        color: white;
        margin-top: 50px;

        @include for-phone-only {
            font-size: 40px;
        }
    }
}