@import '../../mixins.scss';

:host {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-image: url('../../assets/images/section/tech-experience.jpg');
    @include section-background(center center);
}