@import '../../mixins.scss';

:host {
    background-image: url('../../assets/images/section/core-skills.jpeg');
    @include section-background(center center);

    .section-title {
        color: black;
        margin-top: 50px;
    }
}