@import '../../assets/css/global.mixins.scss';
@import '../../assets/css/responsive.mixins.scss';

:host {
    background-image: url('../../assets/images/section/core-skills.jpeg');
    @include section-background(center left);

    .section-title {
        color: black;
        margin-top: 50px;
        font-size: 50px;

        @include for-phone-only {
            font-size: 40px;
        }
    }
}