:host {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 150px;

  .tech-experience--chart {
    border: 5px solid black;
    background-color: rgba(46, 115, 180, 0.9);
  }
}